In [ ]:
# https://sisma2016.gov.it/wp-content/uploads/2022/08/Rapporto-a-Giugno-2022_Commissario-Sisma-2016_def.pdf

with open('sisma2016_data/tot2022.csv','w',encoding='utf-8') as o:
    with open('sisma2016_data/tot2022.txt',encoding='utf-8') as f:
        for line in f:
            line = line.strip().replace('Ascoli Piceno','Ascoli_Piceno').replace('Pesaro e Urbino','Pesaro_e_Urbino').split()
            line[2 : -2] = [' '.join(line[2 : -2])]
            
            if line[2] == 'vari':
                continue
            line[-2] = line[-2].replace('.','').replace(',','.')
            line[-1] = line[-1].replace('.','').replace(',','.')
            line = ','.join(line)
            o.write(line+'\n')
print('done')
import pandas as pd
df = pd.read_csv('sisma2016_data/tot2022.csv',na_values=['-'])
df

In [ ]:
with open('sisma2016_data/priv2022.csv','w',encoding='utf-8') as o:
    with open('sisma2016_data/priv2022.txt',encoding='utf-8') as f:
        for line in f:
            line = line.strip().replace('Ascoli Piceno','Ascoli_Piceno').replace('Pesaro e Urbino','Pesaro_e_Urbino').split()
            line[2 : -4] = [' '.join(line[2 : -4])]
            
            if line[2] == 'vari':
                continue
            
            line[-4] = line[-4].replace('.','').replace(',','.')
            line[-3] = line[-3].replace('.','').replace(',','.')
            line[-2] = line[-2].replace('.','').replace(',','.')
            line[-1] = line[-1].replace('.','').replace(',','.')
            line = ','.join(line)
            o.write(line+'\n')
print('done')
import pandas as pd
df = pd.read_csv('sisma2016_data/priv2022.csv',na_values=['-'])
df

In [8]:
with open('sisma2016_data/pubb2022.csv','w',encoding='utf-8') as o:
    with open('sisma2016_data/pubb2022.txt',encoding='utf-8') as f:
        for line in f:
            line = line.strip().replace('Ascoli Piceno','Ascoli_Piceno').replace('Pesaro e Urbino','Pesaro_e_Urbino').split(' ')
            line[2 : -4] = [' '.join(line[2 : -4])]
            
            if line[2] == 'vari':
                continue
            
            #print(line)
            
            line[-4] = line[-4].replace('.','').replace(',','.')
            line[-3] = line[-3].replace('.','').replace(',','.')
            line[-2] = line[-2].replace('.','').replace(',','.')
            line[-1] = line[-1].replace('.','').replace(',','.')
            line = ','.join(line)
            o.write(line+'\n')
print('done')
import pandas as pd
df = pd.read_csv('sisma2016_data/pubb2022.csv',na_values=['-'])
df

done

,REGIONE,PROVINCIA,COMUNE,N_R_PRESENTATE,EUR_R_PRESENTATE,N_R_DA_PRESENTARE,EUR_R_DA_PRESENTARE
0,Abruzzo,Pescara,Alanno,2.0,2444348.40,1.0,950000.0
1,Abruzzo,Teramo,Atri,6.0,19775966.06,NaN,NaN
2,Abruzzo,L'Aquila,Barete,1.0,200000.00,1.0,1750000.0
3,Abruzzo,Teramo,Basciano,4.0,2318411.50,2.0,1200000.0
4,Abruzzo,Teramo,Bellante,NaN,NaN,6.0,4832022.0
...,...,...,...,...,...,...,...
334,Umbria,Perugia,Umbertide,1.0,NaN,NaN,NaN
335,Umbria,Perugia,Valfabbrica,1.0,295000.00,2.0,357568.0
336,Umbria,Perugia,Vallo di Nera,12.0,2606741.25,11.0,3935000.0
337,Umbria,Perugia,Valtopina,1.0,575000.00,NaN,NaN
338,Umbria,NaN,Comuni vari,7.0,4835296.76,NaN,NaN

In [10]:
df.describe()

,N_R_PRESENTATE,EUR_R_PRESENTATE,N_R_DA_PRESENTARE,EUR_R_DA_PRESENTARE
count,284.000000,2.830000e+02,295.000000,2.950000e+02
mean,6.926056,9.630346e+06,9.027119,1.155608e+07
std,10.659763,2.281494e+07,14.272587,2.499103e+07
min,1.000000,1.000000e+00,1.000000,3.899500e+04
25%,1.000000,8.589697e+05,2.000000,1.054407e+06
50%,4.000000,2.419165e+06,4.000000,3.333000e+06
75%,8.000000,7.220031e+06,10.000000,1.023364e+07
max,96.000000,2.107683e+08,137.000000,1.874387e+08